.main-page {
  padding: 20px;
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
  }
}

.profile__page {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  .MuiCardContent-root {
    padding: 0 10px !important;
  }
  a {
    &:not(last-child) {
      margin-right: 50px;
    }
  }
}
