.main-page {
  padding: 20px;
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
  }
}

.profile__page {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
  grid-gap: 40px;
  a {
    justify-self: center;
  }
  .MuiCardContent-root {
    padding: 0 10px !important;
  }
  a {
    &:not(last-child) {
      margin-right: 50px;
    }
  }
}
